* {
  margin: 5px;
}
h1 {
  color: blue;
  text-align: center;
  font-style: italic;
}
thead {
  color: rgb(119, 36, 13);
  text-align: center;
  font-style: italic;
  font-weight: 700;
  margin: 5px;
}
tbody tr :nth-child(odd) {
  color: rgb(212, 33, 33);
  font-style: italic;
  font-weight: 700;
}
td {
  width: 150px;
}
.Monday {
  float: left;
  margin: 0 0 50px 300px;
}
.Tuesday {
  float: right;
  margin: 0 300px 50px 0;
}
.Wednesday {
  float: left;
  margin: 0 0 50px 300px;
}
.Thursday {
  float: right;
  margin: 0 300px 50px 0;
}
tbody tr td span.red {
  color: rgb(119, 36, 13);
}
